{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS -->
    <link rel="stylesheet" href="{% static 'css/sign-in.css' %}" />
    <!-- Link font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
     <!-- Title -->
    <title>Đăng nhập</title>
</head>
<body>
    <div class="container">
        <div class="design">
            <div class="pill-1 rotate-45"></div>
            <div class="pill-2 rotate-45"></div>
            <div class="pill-3 rotate-45"></div>
            <div class="pill-4 rotate-45"></div>
        </div>
   
        <form action="" method="POST" class="login">
            {% csrf_token %}
    
            <h3 class="title">Đăng nhập</h3>
            <div class="text-input">
                <i class="fa-solid fa-user"></i>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="text-input">
                <i class="fa-solid fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Mật khẩu" required>
            </div>
            <button type="submit" class="login-btn">Đăng nhập</button>
        </form>
    </div>
    <!-- Link Font Awesome -->
    <script src="https://kit.fontawesome.com/25d03fd816.js" crossorigin="anonymous"></script>
</body>
</html>