* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  user-select: none;
}

body {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../img/KING BILLIARDS CHAMPIONSHIP.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.alert {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 20%;
  font-size: 20px;
  font-weight: bold;
  animation: hide-message 3s forwards;
  opacity: 0.4;
}

@keyframes hide-message {
  to {
    visibility: hidden;
  }
}

.container {
  margin-top: 60px;
}

nav {
  opacity: 0.8;
}

.color-gold {
  color: #ffd700 !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-20 {
  font-size: 20px !important;
}

.nav-item {
  margin-right: 16px;
}

.nav-item.login {
  right: 0;
}

h1 {
  text-align: center;
  font-style: italic;
  color: #fff !important;
}

@media screen and (min-width: 992px) {
  .fb-220 {
    flex-basis: 220px !important;
  }

  .h-62 {
    height: 62px !important;
  }
}

@media screen and (max-width: 992px) {
  .ai-c {
    align-items: center !important;
  }
  .ml {
    margin-left: 12px !important;
  }
}

.p-6 {
  padding: 6px 0;
}

.round-name {
  margin: 0 !important;
  background-color: #dc3545;
  color: #fff;
}

.table-color {
  background: #2f394e;
  color: #787e8c;
  width: 10%;
}

.player-color {
  background: #17233a;
  color: #787e8c;
}

.action {
  padding: 0 12px;
  background: #2f394e;
  color: #fff;
}

.form-searching input{
  width: 200px;
  height: 40px;
  padding-left: 8px;
  font-size: 16px;
  border-radius: 8px;
}

.form-searching button{
  background: #fff;
}

.form-searching button:hover{
  background: #000;
}

.form-searching button:hover i{
  color: #fff !important;
}

.form-show-create button{
  background: #fff;
}

.form-show-create button:hover{
  background: #000;
}

.form-show-create button:hover i, .form-show-create button:hover span{
  color: #fff;
}

.table-player .img-player {
  width: 40px !important;
  height: 40px !important;
}

.btn-edit:hover i {
  color: blue;
}

.btn-delete:hover i {
  color: red;
}

.form-create-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff !important;
  width: 400px;
  padding: 40px 62px;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(39, 103, 73, 0.3), 0 16px 24px rgba(39, 103, 73, 0.201) !important;
}

.form-create-edit .buttons {
  display: flex;
  justify-content: flex-end;
}

.form-create-edit .submit, .form-create-edit .cancel {
  width: 120px;
  height: 40px;
  font-size: 16px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.form-create-edit .cancel{
  text-decoration: none;
  background-color: #dc3545;
  color: #fff;
}

.form-create-edit .cancel:hover {
  background-color: #c7082b;
  cursor: pointer;
}

.w-33 {
  width: calc(100%/3) !important;
}


.mb-up{
  margin-bottom: -8px !important;
}

.mt-down{
  margin-top: -8px !important;
}

.btn-score:hover {
  opacity: 0.6;
}