<form action="" method="POST" class="form-sign-in-up">
    {% csrf_token %}

    <div class="mb-5">
        <label for="email" class="form-label fw-bold label">Email</label>
        <input type="email" class="form-control input" id="email" name="email" aria-describedby="emailHelp"
               required>
    </div>
    <div class="mb-5">
        <label for="password" class="form-label fw-bold label">Mật khẩu</label>
        <input type="password" class="form-control input" id="password" name="password" required>
    </div>
    <button type="submit" class="btn submit">Đăng nhập</button>
</form>