<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!-- Link Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!-- Link font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <!-- Link Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Title -->
    <title>King Billiards Club</title>
  </head>
  <body onload="update_time()">
    <!-- Show Message -->
    <!-- {% if messages %} 
      {% for message in messages %}
      <div
        class="messages alert alert-{{ message.tags }} d-flex align-items-center alert-dismissible fade show"
        role="alert"
      >
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img">
          {% if message.tags == 'success' %}
          <use xlink:href="#check-circle-fill" />
          {% else %}
          <use xlink:href="#exclamation-triangle-fill" />
          {% endif %}
        </svg>

        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
      {% endfor %} 
    {% endif %}  -->

    {% url 'live_scores' as live_scores %}
    {% url 'bracket' as bracket %}
    {% url 'player' as player %}
    {% url 'duel' as duel %}

    <nav class="navbar navbar-dark navbar-expand-lg bg-transparent">
      <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
              <img
              src="{% static 'img/logo.png' %}"
              alt="Logo"
              width="100"
              height="92"
              class=""
              />
          </a>
        <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></i></span>
        </button>
        <!-- Sidebar -->
        <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <!-- Sidebar Header -->
          <div class="offcanvas-header text-white border-bottom">
            <a class="navbar-brand" href="{% url 'home' %}">
              <img
              src="{% static 'img/logo.png' %}"
              alt="Logo"
              width="100"
              height="92"
              class="m-image"
              />
            </a>
            
            <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <!-- Sidebar Body -->
          <div class="offcanvas-body d-flex flex-column flex-lg-row">
            <!-- Main feature -->
            <ul class="navbar-nav justify-content-lg-center flex-grow-1 main-feature">
              <!-- Show Navbar User -->
              <li class="nav-item">
                <a class="nav-link text-white fs-5 {% if request.path == live_scores %} active {% endif %}" href="{% url 'live_scores' %}">
                  Live Scores
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fs-5 {% if request.path == bracket %} active {% endif %}" href="{% url 'bracket' %}">
                  Bracket
                </a>
              </li>
              <!-- Show Navbar Admin -->
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link text-white fs-5 {% if request.path == player %} active {% endif %}" href="{% url 'player' %}">
                    Player
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white fs-5 {% if request.path == duel %} active {% endif %}" href="{% url 'duel' %}">
                    Duel
                  </a>
                </li>
              {% endif %}
            </ul>
            <!-- Login - Logout -->
            {% if user.is_authenticated %}
              <div class="d-flex justify-content-between align-items-center text-white login-out">
                <a class="nav-link fs-5" href="{% url 'sign_out' %}">
                  <span class="me-1">Sign out</span>
                  <i class="fa-solid fa-right-to-bracket"></i>
                </a>
              </div>
            {% else %}
              <div class="d-flex justify-content-between align-items-center text-white login-out">
                <a class="nav-link fs-5" href="{% url 'sign_in' %}">
                  <span class="me-1">Sign in</span>
                  <i class="fa-solid fa-right-to-bracket fa-rotate-180"></i>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    

    <div class="container">{% block content %} {% endblock content %}</div>
    <!-- Link Font Awesome -->
    <script src="https://kit.fontawesome.com/25d03fd816.js" crossorigin="anonymous"></script>
    <!-- Link JQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Link File Run Time Live -->
    <script src="{% static 'js/time.js' %}"></script>
  </body>
</html>
