<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <style>
      .round-name {
        margin: 0;
        background-color: #dc3545;
        color: #fff;
      }
      .date {
        margin-right: 12px;
      }
      .table-color {
        background: #2f394e;
        color: #787e8c;
        width: 10%;
      }
      .player-color {
        background: #17233a;
        color: #787e8c;
      }
      .action {
        padding: 0 12px;
        background: #2f394e;
        color: #fff;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row round-name">
        <div class="col m-2">
          <div class="fst-italic fw-bold fs-3">Last 64 - Race to 10</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex flex-column flex-md-row align-items-md-center">
            <div class="d-flex flex-row flex-md-column order-md-2 action">
              <div class="d-flex align-items-center date">
                <div class="">12/12/2023, 14:00</div>
              </div>
              <input type="submit" value="Start" class="btn btn-primary" />
            </div>
            <div class="d-flex flex-row order-md-1 flex-fill">
              <div
                class="d-flex flex-column justify-content-center align-items-center table-color"
              >
                <div class="fs-5 fw-bold fst-italic">T1</div>
              </div>
              <div
                class="d-flex flex-column flex-md-row justify-content-center flex-fill player-color fs-5 fw-bold"
              >
                <div
                  class="d-flex flex-row align-items-center justify-content-between"
                >
                  <div class="player-name m-3">Nguyễn Đặng Thành Phát - G</div>
                  <div class="player-score m-3">7</div>
                </div>
                <div class="d-none d-md-flex align-items-center">VS</div>
                <div
                  class="d-flex flex-row align-items-center justify-content-between"
                >
                  <div class="player-name m-3 order-md-2">Phan Gia Huy - G</div>
                  <div class="player-score m-3 order-md-1">6</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
